%main.works.row
  - @works.each do |work|
    = link_to work_path(work.id), class: 'col-4' do
      = image_tag work.image.url, alt: "#{work.name}", class: "image-fluid"

.col.text-center
  - if current_user.admin?
    = link_to "作品投稿ページへ", new_admin_work_path
