%main.works#works.row
  - @works.each do |work|
    = link_to work_path(work.id), class: 'col-12 col-sm-6 col-md-4' do
      = image_tag work.images[0].url, alt: "#{work.name}", class: "img-fluid mt-1 works__img"

.col.text-center
  - if current_user && current_user.admin?
    = link_to "作品投稿ページへ", new_admin_work_path
