%nav.footer__nav.col-12.navbar.justify-content-center
  %ul.page-nav.d-flex.justify-content-between.col-9
    = render 'shared/page-nav'
    -if current_user
      %li=link_to 'Logout', destroy_user_session_path, method: :delete, class: 'page-nav__list'
    - else
      %li=link_to 'Admin Login', new_user_session_path, class: 'page-nav__list'
%small.copy.col-12.text-center
  Copy Right &copy;
  %span= @year
  Seino Azumi, All Rights Reserved.
