.header__nav
  %nav.header__nav--l
    %ul.social-link
      %li.social-link__icon=fa_icon("facebook-f")
      %li.social-link__icon=fa_icon("twitter")
  
  %nav.header__nav--r
    %ul.page-nav
      %li.page-nav__list About
      %li.page-nav__list Works
      %li.page-nav__list Blog
      %li.page-nav__list Contact
