%nav.header__nav--l.col.navbar
  %ul.social-link.d-flex.justify-content-between
    %li.social-link__icon=fa_icon("facebook-f")
    %li.social-link__icon=fa_icon("twitter")

%nav.header__nav--r.col.navbar
  %ul.page-nav.d-flex.justify-content-between
    %li=link_to 'Home', '#', class: 'page-nav__list'
    %li=link_to 'About', '#', class: 'page-nav__list'
    %li=link_to 'Works', '#', class: 'page-nav__list'
    %li=link_to 'Blog', '#', class: 'page-nav__list'
