%nav.header__nav--l.col.navbar
  %ul.social-link.d-flex.justify-content-between
    %li.social-link__icon=fa_icon("facebook-f")
    %li.social-link__icon=fa_icon("twitter")

%nav.header__nav--r.col.navbar
  %ul.page-nav.d-flex.justify-content-between
    %li.page-nav__list About
    %li.page-nav__list Works
    %li.page-nav__list Blog
    %li.page-nav__list Contact
