%header.header.row.d-flex.justify-content-between
  %nav.header__nav--l.col-2.social-link.d-flex.justify-content-between
    =link_to "https://www.facebook.com/seinoazumi", class: 'social-link__icon' do
      %span=fa_icon("facebook-f")
    =link_to "https://twitter.com/azmengineer", class: 'social-link__icon' do
      %span=fa_icon("twitter")

  %nav.header__nav--r.col-md-6.navbar
    %ul.page-nav.d-flex.justify-content-between
      = render 'shared/page-nav'

  -# スマホ版のメニューを作るときに復活させる
  %nav.header__nav--sp.d-none
    %ul.page-nav
      = render 'shared/page-nav'
