%li=link_to 'Home', root_path , class: 'page-nav__list col'
%li=link_to 'About', about_path , class: 'page-nav__list col'
%li=link_to 'Works', works_path , class: 'page-nav__list col'
-# TODO: 特定のページのページ内リンクに行けるようにする
%li=link_to 'Blog', {anchor: "blog"}, class: 'page-nav__list col'
