.about-page.container.my-5
  %main
    %article.content.col
      %h2.content__header.text-center About Me
      .inner.d-sm-flex
        .inner__l.col.col-md-5
          %figure.text-center
            =image_tag "self_photo_cl.png", alt: "清野あずみの写真", class: "self-photo", height: "350"
        .inner__r.col.col-md-7
          %section.profile
            %p.profile__header 名前：清野あずみ
            .profile__history
              %p
                筑波大学芸術専門学群卒業
                %br
                同大学大学院人間総合化学研究科 修了（教育学修士）

              %p
                美術科教員を経て、若者就労支援のNPOへ
                %br
                「はたらく」に困難を抱える若者にITを通じた就労支援を届ける一方で、社内デザインを担当。

              %p
                2019年、プログラミングスクールを修了し、プログラミングを習得。
              %p
                「生きづらさ」を抱える人や、
                %br
                そんな人たちを支える誰かを、
                %br
                デザインやプログラミングを通じて応援したいと思っています。
    .col.mt-3.text-center
      = link_to "作品一覧へ", works_path
