.about-page
  %main
    %article.content
      %h2.content__header About Me
      .inner
        .inner__l
          %figure
            =image_tag "self_photo_cl.png", alt: "清野あずみの写真", class: "self-photo", height: "350"
        .inner__r
          %section.profile
            %p.profile__header 名前：清野あずみ
            .profile__history
              %p 筑波大学芸術専門学群卒業
              %p 同大学大学院人間総合化学研究科 修了（教育学修士）

              %p 美術科教員を経て、若者就労支援のNPOへ
              %p 「はたらく」に困難を抱える若者にITを通じた就労支援を届ける一方で、社内デザインを担当。

              %p 2019年、プログラミングスクールを修了し、プログラミングを習得。
              %p 「生きづらさ」を抱える人や、そんな人たちを支える誰か、
              %br および地域で頑張っているあの人を、
              %br デザインやプログラミングを通じて応援したいと思っています。
