.index-page
  .header__bottom
    .left-info
      %figure
        =image_tag "goldfish1.jpg", class: "keyvis", alt: "トップ画像", width: "300"
    .right-info
      .right-info__inner
        %h1.site-title Azumi's Portfolio
        %section.site-description
          %p 清野あずみのポートフォリオサイトです。
          %p 地域で頑張っている誰かや、生きづらさを抱える人を支える誰かを、デザインやプログラミングを通じて応援できればと思っています。

  %main
    %article.info
      %h2.info__header What I Can Do
      .info__content
        %section.app
          %figure.app__img
            =image_tag "pc.jpg", alt: "プログラミングのイメージ"
          .app__description
            %p Ruby on Rails, JavaScript, PHPなどを持ちいたWEBアプリケーションが製作できます。
        %section.design
          %figure.design__img
            =image_tag "dtp.jpg", alt: "DTPのイメージ"
          .design__description
            %p Photoshop, Illustratorなどを用いた紙媒体の製作物の製作実績をご紹介いたします。
        %section.other
          %figure.other__img
            =image_tag "other.jpg", alt: "その他の作業のイメージ"
          .other__description
            %p 動画コンテンツ・IT講習テキスト・講演実績などその他の実績をご紹介いたします。

    %article.works
      %h2.works__header Works
      .works__content
        .slider
          =image_tag "http://placehold.jp/270x200.png", alt:"slider", class: "slide"
          =image_tag "http://placehold.jp/270x200.png", alt:"slider", class: "slide"
          =image_tag "http://placehold.jp/270x200.png", alt:"slider", class: "slide"
          =image_tag "http://placehold.jp/270x200.png", alt:"slider", class: "slide"

        .bottom-info
          %p See More
    %article.blog
      %h2.blog__header Blog and Info.
      .blog__content
        .media
          %figure.media__img
            =image_tag "http://placehold.jp/100x100.png", alt: "dummy"
          %p.media__description はてなブログでは日々の学習の気づきを書いています
        .media
          %figure.media__img
            =image_tag "http://placehold.jp/100x100.png", alt: "dummy"
          %p.media__descriprion Wantedlyには転職活動に関する情報を記載しています
    %article.contact
      %h2.contact__header Contact Me
      .contact__form
        %p Your Name*
        %p Subject*
        %p Your Email*
        %p.submit Submit
