body {
  @include m-plus-1p;
  background-color: $white;
  color: $gray-lv4;
}

li {
  list-style-type: none;
}

a{
  color: $gray-lv4;
  
  &:hover{
    color: $gray-lv5;
  }
}

$border-gray: solid 1px $gray-lv3;
$border-gray-light: solid 1px $gray-lv2;

@mixin icon-in-circle {
  font-size: 1.6rem;
  height: 50px;
  min-width: 50px;
  border: $border-gray;
  border-radius: 50%;
}
