@mixin raleway {
  font-family: 'Raleway', sans-serif;
}

@mixin roboto-slab {
  font-family: 'Roboto Slab', serif;
}

@mixin noto-selif {
  font-family: 'Noto Serif JP', serif;
}

@mixin m-plus-1p {
  font-family: 'M PLUS 1p', sans-serif;
}
