/*---------------------------------------------
  JS用CSS
---------------------------------------------*/
// トップに戻るボタン

.back-to-top {
  @include icon-size;
  position: fixed;
    bottom: 15%;
    right: 10%;
}
