.info__content > *{
  max-width: 300px;
  margin: 0 auto;
}

.blog__content {
  .media {
    border: $border-gray;
    border-radius: 3px;
  }
}

/* メディアクエリ用 CSS------------------------------------*/
// mdサイズ以上
@media screen and (min-width: 768px){
  //トップの文字を縦に中央揃えにする
  .right-info {
    position: relative;
    &__inner {
      position: absolute;
        top: 50%;
      transform: translateY(-50%);
    }
  }
}

/*---------------------------------------------
  JS用CSS
---------------------------------------------*/
/* slider ----------------------*/
.works__content{
  height: 200px;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}

.slider{
  height: 100%;
  position: absolute;
  width: 100%;

  .slide{
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin-left: 10px;
    width: 100%;
    
    img{
      height: 100%;
      margin-left: 10px;
      position: absolute;
      width: auto;
    }
  }
}

.slideshow-nav {
  a{
    background: rgba(220, 220, 220, 0.8);
    border-radius:50%;
    font-size:25px;
    font-weight:bold;
    height: 40px;
    margin-top: -25px;
    padding: 0;
    position: absolute;
      top: 50%;
      left: 50%;
    width:40px;
  }
  
  a.prev:before {
    content: '＜';
    display: inline-block;
  }
  a.next:before {
    content: '＞';
    display: inline-block;
  }
}

.slideshow-nav a.prev{
  margin-left:-47%;
  padding: 4px 0 0 13px;
}

.slideshow-nav a.next{
  margin-left:39%;
  padding: 4px 0 0 15px;
}

.slideshow-nav a.disabled{
  display: none;
}

/* JavsScript 無効時 */
.no-js .slideshow {
  height: auto;
}
.no-js .slideshow-slides {
  height: auto;
  position: static;
}
.no-js .slideshow-slides .slide {
  display: block;
  height: auto;
  position: static;
}
.no-js .slideshow-slides .slide img {
  margin: auto;
  position: static;
}
.no-js .slideshow-nav,
.no-js .slideshow-indicator {
  display: none;
}
