// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// works/indexページ
.works {
  &__img {
    margin-top: 10px;
    width:  300px;
    &:hover {
      opacity: .8;
    }
  }
}

.select-guide {
  line-height: 2.5;
}

// works/showページ
.work {
  &__l {
    max-height: 500px;
    overflow: scroll;
  }
}
